body {
    background-color: #c9c3ae;
}

.container {
    position: relative;
    
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 800px;
    transform: translate(-50%, -50%);
}

h4 {
    font-family: Rodin;
}