@font-face {
    font-family: 'Rodin';
    src: url('../fonts/FOTRodin\ Pro\ L.otf');
}

body {
    background-color: #c9c3ae;
}

nav {
    background-color: red;
}

.caixas_ns {
    margin: 0;
    border: none;
    background-color: #ADA895;
    padding-left: 10px;
    width: 161px;
    height: 37px;
}

.icons_back {
    background-color: #45403A;
    position:relative;
    width: 10;
    top: 2px;
    right: 6px;
    padding: 3px 0px 1px 0px;
    }

.cabecalho {
    background-color: #45403A;
    display: flex;
    margin: 10;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: left; 
    align-items: center; 
    left: 100px;
}

.central {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    transform: translate(-50%, -50%);
}

h3 {
    font-family: 'Rodin';
    letter-spacing: 2px;
}